<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
        font-size: 8pt;
      }
      tr {
        height: 8px;
      }

      th,
      td {
        /* border: 1px solid black; */
        padding: 2px;
        text-align: left;
        /* width: 8pt !important;
        height: 8pt !important; */
      }

      .b1t {
        border-top: 1px solid black;
      }
      .b1r {
        border-right: 1px solid black;
      }
      .b1b {
        border-bottom: 1px solid black;
      }
      .b1l {
        border-left: 1px solid black;
      }
      .allb {
        border: 1px solid black !important;
      }
      .b2t {
        /* margin-top: 1em; */
        border-top: 1px dashed #000;
      }
      .b2r {
        border-right: 1px dashed #000;
      }
      .b2b {
        border-bottom: 1px dashed #000;
      }
      .b2l {
        border-left: 1px dashed #000;
      }
      .allb2 {
        border: 1px dashed #000;
      }

      .b3t {
        border-top: 3px double black;
      }
      .b3r {
        border-right: 3px double black;
      }
      .b3b {
        border-bottom: 3px double black;
      }
      .b3l {
        border-left: 3px double black;
      }
      .allb3 {
        border: 3px double black;
      }

      th {
        background-color: #f2f2f2;
      }
      .tdc {
        text-align: center;
        vertical-align: middle;
      }
      .tdl {
        text-align: left;
        vertical-align: middle;
      }
      .tdr {
        text-align: right;
        vertical-align: middle;
      }
      th {
        background: #44b3e1;
      }
      .lf5 {
        color: #000000;
        font-weight: bold;
        font-size: 9pt;
      }

      .vertical-up {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        white-space: nowrap;
      }

      .option.selected {
        background-color: #000;
        color: #fff;
        font-weight: bold;
      }
      .option{
        width: 10pt !important; 
        height: 10pt !important;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th class="column1 allb">1</th>
        <th class="column2 allb">2</th>
        <th class="column3 allb">3</th>
        <th class="column4 allb">4</th>
        <th class="column5 allb">5</th>
        <th class="column6 allb">6</th>
        <th class="column7 allb">7</th>
        <th class="column8 allb">8</th>
        <th class="column9 allb">9</th>
        <th class="column10 allb">10</th>
        <th class="column11 allb">11</th>
        <th class="column12 allb">12</th>
        <th class="column13 allb">13</th>
        <th class="column14 allb">14</th>
        <th class="column15 allb">15</th>
        <th class="column16 allb">16</th>
        <th class="column17 allb">17</th>
        <th class="column18 allb">18</th>
        <th class="column19 allb">19</th>
        <th class="column20 allb">20</th>
        <th class="column21 allb">21</th>
        <th class="column22 allb">22</th>
        <th class="column23 allb">23</th>
        <th class="column24 allb">24</th>
        <th class="column25 allb">25</th>
        <th class="column26 allb">26</th>
        <th class="column27 allb">27</th>
        <th class="column28 allb">28</th>
        <th class="column29 allb">29</th>
        <th class="column30 allb">30</th>
        <th class="column31 allb">31</th>
        <th class="column32 allb">32</th>
        <th class="column33 allb">33</th>
        <th class="column34 allb">34</th>
        <th class="column35 allb">35</th>
      </tr>
      <tr>
        <td class="column1 tdc allb" rowspan="5" colspan="8">A</td>
        <td class="column8 tdl b1l b1r b1t" rowspan="1" colspan="19">
          TIPO DE DOCUMENTO:
        </td>
        <td class="column27 tdc allb" rows pan="1" colspan="4">CÓDIGO:</td>
        <td class="column36 tdc lf5 allb" rowspan="1" colspan="4">
          FOR-CRI-08
        </td>
      </tr>
      <tr>
        <td class="column27 tdc lf5 b1b" rowspan="1" colspan="19">FORMATO</td>
        <td class="column27 tdc allb" rowspan="1" colspan="4">VERSIÓN:</td>
        <td class="column36 tdc lf5 allb" rowspan="1" colspan="4">11</td>
      </tr>
      <tr>
        <td class="column8 tdl" rowspan="1" colspan="19">
          TÍTULO DE DOCUMENTO:
        </td>
        <td class="column27 tdc allb" rowspan="1" colspan="4">PÁGINA:</td>
        <td class="column36 tdc allb" rowspan="1" colspan="4">1 de 1</td>
      </tr>
      <tr>
        <td class="column8 tdc lf5 b1b" rowspan="2" colspan="19">
          REPORTE DE NO CONFORMIDAD Y ACCION CORRECTIVA
        </td>
        <td class="column27 tdc allb" rowspan="1" colspan="4">
          VIGENTE A PARTIR DE:
        </td>
        <td class="column36 tdc allb" rowspan="1" colspan="4">mar-25</td>
      </tr>
      <tr>
        <td class="column27 tdc allb" rowspan="1" colspan="4">VALIDO HASTA:</td>
        <td class="column36 tdc allb" rowspan="1" colspan="4">mar-28</td>
      </tr>

      <tr>
        <td class="column1 b2b ">&nbsp;</td>
        <td class="column1 b2b" colspan="3">&nbsp;</td>
        <td class="column1 b2b" colspan="5">&nbsp;</td>
        <td class="column9 b2b" colspan="9">&nbsp;</td>
        <td class="column9 b2b" colspan="9">&nbsp;</td>
        <td class="column10" colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td class="column1 tdc b2l ">&nbsp;</td>
        <td class="column1 tdc b2t" colspan="3">Tipo</td>
        <td class="column1 tdc  b2r" colspan="5">&nbsp;</td>
        <td class="column9 tdc  b2r" colspan="9">Fecha de Elaboración</td>
        <td class="column9 tdc  b2r" colspan="9">Área y/o Proceso</td>
        <td class="column10" colspan="8">&nbsp;</td>
      </tr>
      <tr>
        <td class="column1 tdc b2l "></td>
        <td class="column1 b1b"></td>
        <td class="column1 " colspan="2"></td>
        <td class="column1  b2r" colspan="5"></td>
        <td class="column9 b2r" colspan="9"></td>
        <td class="column9 b2r" colspan="9"></td>
        <td class="column10" colspan="8">&nbsp;</td>

      </tr>
      <tr>
        <td class="column1 tdc b2l">&nbsp;</td>
        <td class="column1 tdc allb option" >&nbsp;</td>
        <td class="column1 tdl b2r" colspan="7">SGC</td>
        <td class="column1 tdc b2b b2r" colspan="9" rowspan="2">19/06/2025</td>
        <td class="column9 tdc b2l b2r b2b" colspan="9" rowspan="2">
          Cadena de Suministro
        </td>
        <td class="column10" colspan="8">&nbsp;</td>

      </tr>
      <tr>
        <td class="column1 tdc b2l b2r" colspan="9">&nbsp;</td>
        <td class="column9 tdc b2r b2t" colspan="8">Referencia</td>
      </tr>
      <tr>
        <td class="column1 tdc b2l">&nbsp;</td>
        <td class="column1 tdc allb option" >&nbsp;</td>
        <td class="column1 tdl b2r" colspan="7">SARI</td>
        <td class="column9 tdc b2r" colspan="9">Fecha de Detección</td>
        <td class="column9 tdc b2r" colspan="9">
          Responsable de área o proceso
        </td>
        <td class="column9 tdc" colspan="3">Num:</td>
        <td class="column9 tdl b2r" colspan="5">NC-25-16</td>
      </tr>

      <tr>
        <td class="column1 tdc b2l b2r" colspan="9">&nbsp;</td>
        <td class="column9 tdc b2r b2b" colspan="9" rowspan="3">26/06/2025</td>
        <td class="column9 tdc b2r b2b" colspan="9" rowspan="3">
          Pedro Martínez
        </td>
        <td class="column9 tdc" colspan="3">Clasificación</td>
        <td class="column9 tdl b2r" colspan="5">NC</td>
      </tr>
      <tr>
        <td class="column1 tdc b2l">&nbsp;</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="2">Otro</td>
        <td class="column1 tdl b2b" colspan="4"></td>
        <td class="column1 tdl b2r" colspan="1"></td>
        <td class="column9 tdc" colspan="3">Categoría</td>
        <td class="column9 tdl b2r" colspan="5">NA</td>
      </tr>
      <tr>
        <td class="column1 tdc b2l b2r b2b" colspan="9">&nbsp;</td>
        <td class="column9 b2b b2r" colspan="8" rowspan="1">&nbsp;</td>
      </tr>

      <tr>
        <td class="column1 tdc">&nbsp;</td>
        <td class="column1 tdc" colspan="5">Motivo de la NC</td>
        <td class="column1 tdc" colspan="29">&nbsp;</td>
      </tr>
      <tr>
        <td class="column1s" colspan="35" style="height: 1px"></td>
      </tr>
      <tr>
        <td class="column1 tdc">&nbsp;</td>
        <td class="column1 tdc allb option" colspan="1"></td>
        <td class="column1 tdl" colspan="10">Queja</td>
        <td class="column1 tdc allb">&nbsp;</td>
        <td class="column1 tdl" colspan="11">Insp. Durante Almacenaje</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="10">Evento Ambiental</td>
      </tr>
      <tr>
        <td class="column1s" colspan="35" style="height: 1px"></td>
      </tr>
      <tr>
        <td class="column1 tdc">&nbsp;</td>
        <td class="column1 tdc allb option" colspan="1"></td>
        <td class="column1 tdl" colspan="10">Indicador</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="11">
          Auditoría de Segunda Parte o Tercera
        </td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="10">Accidente</td>
      </tr>
      <tr>
        <td class="column1s" colspan="35" style="height: 1px"></td>
      </tr>
      <tr>
        <td class="column1 tdc">&nbsp;</td>
        <td class="column1 tdc allb option" colspan="1"></td>
        <td class="column1 tdl" colspan="10">Auditoría Interna</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="11">Proveedor</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="10">Incidente, indique tipo</td>
      </tr>

      <tr>
        <td class="column1s" colspan="35" style="height: 1px"></td>
      </tr>
      <tr>
        <td class="column1 tdc">&nbsp;</td>
        <td class="column1 tdc allb option" colspan="1"></td>
        <td class="column1 tdl" colspan="10">Servicio No Conforme</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" colspan="11">Parte Relacionada</td>
        <td class="column1 tdc allb option">&nbsp;</td>
        <td class="column1 tdl" style="width: 10px">Otro:</td>
        <td class="column1 tdl b2b" colspan="8"></td>
        <td class="column1 tdl" colspan="1"></td>
      </tr>

      <tr>
        <td class="column1s" colspan="35" style="height: 1px"></td>
      </tr>
      <tr>
        <td class="column1 tdc" colspan="35">&nbsp;</td>
      </tr>

      <tr>
        <th class="column1 tdc b2t b1r b1l b3b" colspan="35">
          Descripción del Hallazgo
        </th>
      </tr>

      <tr>
        <td class="column1 tdc allb2" colspan="35">Texto del Hallazgo</td>
      </tr>

      <tr>
        <td class="column1" colspan="35"></td>
      </tr>
      <tr>
        <th class="column1 tdc b2t b3r b1l" colspan="27">CAUSA</th>
        <th class="column1 tdc b2t b3r" colspan="8">
          Referencia de investigación:
        </th>
      </tr>
      <tr>
        <td class="column1 tdc b3t b2l" colspan="27"></td>
        <td class="column1 tdc b3l b3b b3r" colspan="8">5 PORQUES</td>
      </tr>

      <tr>
        <td class="column1 tdc b2b b2l b2r" colspan="35">Texto de causa</td>
      </tr>
      <tr>
        <td class="column1" colspan="35"></td>
      </tr>

      <tr>
        <th class="column1 tdc b3t b2r b2l" colspan="35">Plan de Acción</th>
      </tr>

      <tr>
        <th class="column1 tdc b2l b3b" colspan="26">
          Según aplique: En renglón con el número 1 la Acción para controlar y
          corregir, a partir del renglón 2 Acción(es) necesarias (incluyendo las
          que reduzcan los efectos no deseados) y/o Acción(es) Correctiva(s).
        </th>
        <th class="column1 tdc b3b" colspan="4">Fecha Compromiso</th>
        <th class="column1 tdc b2r b3b" colspan="5">Responsable</th>
      </tr>
      <tr>
        <!--  ACCION PRINCIPAL -->
        <td class="column1 b2l" colspan="1">1</td>
        <td class="column1 b2r" colspan="25"></td>
        <td class="column1 b2r" colspan="4"></td>
        <td class="column1 b2r" colspan="5"></td>
      </tr>
      <tr>
        <th class="column1 tdc allb" colspan="35"></th>
      </tr>
      <tr>
        <!--  ACCION SECUNDARIA -->
        <td class="column1 b2l b2b" colspan="1">2</td>
        <td class="column1 b2r b2b" colspan="25"></td>
        <td class="column1 b2r b2b" colspan="4"></td>
        <td class="column1 b2r b2b" colspan="5"></td>
      </tr>

      <tr>
        <td class="column1" colspan="35"></td>
      </tr>

      <tr>
        <th class="column1 tdc b2r b2l b3b" colspan="35">Observaciones</th>
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="35">Texto de observaciones</td>
      </tr>
      <tr>
        <td class="column1" colspan="35"></td>
      </tr>
      <tr>
        <th class="column1 tdc b1r b1l b3b b2t" colspan="35">
          Seguimientos y Análisis de Efectividad
        </th>
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="1" rowspan="2">No.</td>
        <td class="column1 tdc allb2" colspan="4" rowspan="2">Fecha</td>
        <td class="column1 tdc allb2" colspan="5" rowspan="2">
          Verificado por Auditor / Otro
        </td>
        <td class="column1 tdc allb2" colspan="18" rowspan="2">
          Justificación
        </td>
        <td class="column1 tdc allb2" colspan="4">¿Fue efectiva la acción?</td>
        <td class="column1 vertical-up allb2" colspan="1" rowspan="6">
          Fecha de Cierre de la NC
        </td>
        <td class="column1 vertical-up allb2" colspan="2" rowspan="6">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="1">Sí</td>
        <td class="column1 tdc allb2" colspan="3">No</td>
        <!-- <td class="column1 tdc allb2" colspan="29">Comentarios</td> -->
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="1">1</td>
        <td class="column1 tdc allb2" colspan="4">dd/mm/aaaa</td>
        <td class="column1 tdc allb2" colspan="5">Nombre y Firma</td>
        <td class="column1 tdc allb2" colspan="18">Texto de justificación</td>
        <td class="column1 tdc allb2" colspan="1">&nbsp;</td>
        <td class="column1 tdc allb2" colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="1">2</td>
        <td class="column1 tdc allb2" colspan="4">dd/mm/aaaa</td>
        <td class="column1 tdc allb2" colspan="5">Nombre y Firma</td>
        <td class="column1 tdc allb2" colspan="18">Texto de justificación</td>
        <td class="column1 tdc allb2" colspan="1">&nbsp;</td>
        <td class="column1 tdc allb2" colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="1">3</td>
        <td class="column1 tdc allb2" colspan="4">dd/mm/aaaa</td>
        <td class="column1 tdc allb2" colspan="5">Nombre y Firma</td>
        <td class="column1 tdc allb2" colspan="18">Texto de justificación</td>
        <td class="column1 tdc allb2" colspan="1">&nbsp;</td>
        <td class="column1 tdc allb2" colspan="3">&nbsp;</td>
      </tr>
      <tr>
        <td class="column1 tdc allb2" colspan="1">4</td>
        <td class="column1 tdc allb2" colspan="4">dd/mm/aaaa</td>
        <td class="column1 tdc allb2" colspan="5">Nombre y Firma</td>
        <td class="column1 tdc allb2" colspan="18">Texto de justificación</td>
        <td class="column1 tdc allb2" colspan="1">&nbsp;</td>
        <td class="column1 tdc allb2" colspan="3">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
